# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
#Amount spent by unique customers
Customers_Spent = orders[['CustomerID', 'Country', 'amount_spent']]
Unique_Customers = Customers_Spent.groupby(by=['CustomerID']).sum() #Agrupo por Customer ID para quitar repetidos
Unique_Customers.head(3)

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24

In [4]:
# Identifico los valores de los cuantiles 75 y 95
Unique_Customers.quantile([.75, .95])

      amount_spent
0.75      1661.640
0.95      5840.182

In [5]:
VIP = []

for label, row in Unique_Customers.iterrows():
    if row["amount_spent"] >= 5840.182:
        VIP.append(label)

#Si la cantidad de dinero gastada es igual o mayor a 58.40, tenemos un cliente VIP
#Itero con un Loop para cada fila identificando a los clientes y los agrego a la lista VIP

In [8]:
len(VIP) #Existen 217 clientes VIP
#print(VIP)

217

In [9]:
#Repito el mismo procedimiento para clientes preferenciales con un rango entre los valores encontrados
Preferred = []

for label, row in Unique_Customers.iterrows():
    if row["amount_spent"] in range(1661, 5840):
        Preferred.append(label)

In [10]:
len(Preferred) # Hay 8 clientes preferenciales
print(Preferred)

[12950, 13135, 14887, 15195, 15485, 16308, 16698, 17353]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [26]:
#Agrupo IdClientes por país y los convierto en diccionario
Countries = orders[['CustomerID','Country']]
perCountry= Countries.groupby(['CustomerID','Country']).sum()
perCountry.head(5)

Empty DataFrame
Columns: []
Index: [(12346, United Kingdom), (12347, Iceland), (12348, Finland), (12349, Italy), (12350, Norway)]

In [27]:
#Analizo la ubicación de los clientes VIP
vip_countries= perCountry.loc[[12346, 12357, 12359, 12409, 12415, 12428, 12431, 12433, 12435, 12451, 12471, 12472, 12474, 12476, 12477, 12536, 12540, 12557, 12567, 12583, 12590, 12621, 12626, 12637, 12678, 12681, 12682, 12683, 12705, 12709, 12731, 12744, 12748, 12753, 12757, 12766, 12798, 12830, 12901, 12921, 12931, 12939, 12971, 12980, 12989, 13001, 13018, 13027, 13078, 13081, 13089, 13090, 13093, 13097, 13098, 13102, 13113, 13199, 13209, 13225, 13263, 13316, 13319, 13324, 13340, 13408, 13418, 13458, 13488, 13534, 13576, 13629, 13668, 13694, 13709, 13767, 13777, 13798, 13854, 13871, 13881, 13969, 13985, 14031, 14051, 14056, 14057, 14060, 14062, 14088, 14096, 14101, 14156, 14194, 14258, 14298, 14367, 14415, 14505, 14527, 14606, 14607, 14646, 14667, 14680, 14733, 14735, 14769, 14796, 14849, 14866, 14895, 14911, 14936, 14944, 14952, 14961, 15005, 15023, 15039, 15044, 15061, 15078, 15098, 15125, 15144, 15159, 15189, 15194, 15249, 15251, 15290, 15311, 15358, 15382, 15465, 15482, 15498, 15502, 15513, 15601, 15615, 15640, 15694, 15749, 15769, 15838, 15856, 15939, 16000, 16013, 16029, 16033, 16126, 16133, 16180, 16182, 16187, 16210, 16333, 16353, 16422, 16446, 16523, 16525, 16532, 16558, 16652, 16656, 16672, 16684, 16705, 16713, 16729, 16745, 16746, 16779, 16814, 16839, 16843, 16873, 16923, 17017, 17107, 17139, 17243, 17306, 17315, 17338, 17340, 17381, 17389, 17396, 17404, 17416, 17428, 17450, 17509, 17511, 17581, 17675, 17677, 17706, 17735, 17811, 17841, 17857, 17865, 17949, 18055, 18092, 18102, 18109, 18139, 18172, 18223, 18229]]
vip_countries.apply(pd.value_counts)

Empty DataFrame
Columns: []
Index: [(12346, United Kingdom), (12357, Switzerland), (12359, Cyprus), (12409, Switzerland), (12415, Australia), (12428, Finland), (12431, Australia), (12431, Belgium), (12433, Norway), (12435, Denmark), (12451, Switzerland), (12471, Germany), (12472, Germany), (12474, Germany), (12476, Germany), (12477, Germany), (12536, France), (12540, Spain), (12557, Spain), (12567, France), (12583, France), (12590, Germany), (12621, Germany), (12626, Germany), (12637, France), (12678, France), (12681, France), (12682, France), (12683, France), (12705, Germany), (12709, Germany), (12731, France), (12744, Singapore), (12748, United Kingdom), (12753, Japan), (12757, Portugal), (12766, Portugal), (12798, Japan), (12830, United Kingdom), (12901, United Kingdom), (12921, United Kingdom), (12931, United Kingdom), (12939, United Kingdom), (12971, United Kingdom), (12980, United Kingdom), (12989, United Kingdom), (13001, United Kingdom), (13018, United Kingdom), (13027, United Kingdom), (13078, United Kingdom), (13081, United Kingdom), (13089, United Kingdom), (13090, United Kingdom), (13093, United Kingdom), (13097, United Kingdom), (13098, United Kingdom), (13102, United Kingdom), (13113, United Kingdom), (13199, United Kingdom), (13209, United Kingdom), (13225, United Kingdom), (13263, United Kingdom), (13316, United Kingdom), (13319, United Kingdom), (13324, United Kingdom), (13340, United Kingdom), (13408, United Kingdom), (13418, United Kingdom), (13458, United Kingdom), (13488, United Kingdom), (13534, United Kingdom), (13576, United Kingdom), (13629, United Kingdom), (13668, United Kingdom), (13694, United Kingdom), (13709, United Kingdom), (13767, United Kingdom), (13777, United Kingdom), (13798, United Kingdom), (13854, United Kingdom), (13871, United Kingdom), (13881, United Kingdom), (13969, United Kingdom), (13985, United Kingdom), (14031, United Kingdom), (14051, United Kingdom), (14056, United Kingdom), (14057, United Kingdom), (14060, United Kingdom), (14062, United Kingdom), (14088, United Kingdom), (14096, United Kingdom), (14101, United Kingdom), (14156, EIRE), (14194, United Kingdom), (14258, United Kingdom), (14298, United Kingdom), (14367, United Kingdom), (14415, United Kingdom), (14505, United Kingdom), ...]

[218 rows x 0 columns]

In [ ]:
#Analizo la ubicación de los clientes preferenciales
perCountry.loc[[12950, 13135, 14887, 15195, 15485, 16308, 16698, 17353]]
#Los 8 clientes pertenecen a Reino Unido

In [ ]:
#La mayoría de los clientes VIP y preferenciales se ubican en UK